body {
	background-color:black;
	}
#main-board {
	height: 600px;
	width: 600px;
	margin: 25px auto;
	background-color:white;
	}
.square {
	width: 15px;
	height: 15px;
	display: inline-block;
	float: left;
	box-sizing: border-box;
	text-align: center;
	}
.snake-head {
	background-color:#33cc33;
	}
.snake-body {
	background-color: #00ff00;
	}
	
.food {
	background-color:red;
	}